*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
}

.header{
    padding: 1rem;
    display: flex;
}

.header h1{
    margin-right: auto;
}

.header button{
    margin-right: 5rem;
    padding: 1rem;
}