@font-face {
    font-family: product-sample;
    src: url(fonts/Product\ Sample.otf);
}

@font-face {
    font-family: wonderwall;
    src: url(fonts/WONDERWALL.otf);
}

html{
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: wonderwall;
    display: grid;
}

.header{
    color: aliceblue;
    background-color: #303030;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.header p{
    font-size: 3rem;
    margin-right: auto;
}

#addBook{
    color: aliceblue;
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 2.5rem;
    margin-right: 5rem;
    border-radius: 50%;
    border: none;
}

.header label{
    font-size: 2.5rem;
    padding-right: 1rem;
}

#addBook:hover{
    background-color: black;
}

#addBook:focus{
    outline: none;
}

:modal{
    background-color: #303030;
    color: aliceblue;
    border: 0.2rem solid black;
    padding: 2rem;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 60%;
    display: flex;
}

.myForm{
    display: flex;
    flex-direction: column;
}

.myForm .form-div{
    font-size: 1.5rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
}

.form-div select{
    background-color: #303030;
    color: aliceblue;
    border: none;
    border-bottom: 2px solid aliceblue;
    font-size: 1.2rem;
}

input{
    border: none;
    color: aliceblue;
    background-color: #303030;
    border-bottom: 2px solid aliceblue;
    height: 1.5rem;
    font-size: 1.2rem;
}

input:focus {
  outline: none;
}

.myForm #cancel{
    padding: 10px;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    border-radius: 50%; 
    font-size: 1.2rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myForm #submit{
    align-self: center;
    width: 70%;
    color: aliceblue;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: wonderwall;
    border: 2px dashed aliceblue;
    background-color: #303030;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.main div{ 
    background-color: rgb(141, 181, 184);
    color: #303030;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
    width: 350px;
    border: 2px dashed #303030;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main div:hover{
    background-color: rgb(99, 176, 182);
}

.main div .remove{
    padding: 10px;
    margin-bottom: 2rem;
    border: 1px solid #303030;
    background-color: rgb(77, 77, 77);
    color: aliceblue;
    aspect-ratio: 1 / 1;
    border-radius: 50%; 
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove:hover{
    background-color: black;
}

.toggle{
    font-family: wonderwall;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 12px;

}

.toggle:hover{
    background-color: rgb(110, 164, 211);
}